/*
Colors used:
Primary Color (Blue): #31485a
Secondary Color (Gray 1): #faf9f7
Secondary Color (Gray 2): #e8e6e1
Secondary Color (Gray 3): #d3cec4
Secondary Color (Gray 4): #27241d
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #27241d;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #31485a;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #d3cec4;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #d3cec4;
}

a:active {
  /* selected link */
  color: #faf9f7;
}

a:hover,
a:focus {
  color: #d3cec4;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #d3cec4;
  font-weight: 400;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #d3cec4;
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
}

.button, button:visited {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #31485a;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d3cec4;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button {
  display: inline-block;
  background-color: #31485a;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d3cec4;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

header {
  background-color: #31485a;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
  box-shadow: 0px 10px 9px 0px rgba(50, 50, 50, 0.43);
  position: relative;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #27241d;
}

#story .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #27241d;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #faf9f7;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #d3cec4;
}

#hero {
  background-color: #e8e6e1;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#work h1 {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
  /* Centers text */
}

#footer h2 {
  text-align: center;
  /* Centers text */
}

#footer {
  background-color: #31485a;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #31485a;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
  box-shadow: 0px 10px 9px 0px rgba(50, 50, 50, 0.43);
  position: relative;
  color: #d3cec4
}

footer ul { list-style-type: none; }

footer ul li { display: inline-block; }

footer ul li svg { height: 30px; width: 30px; }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0px 99px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
    /* the font size for headers will update automatically bc of em values */
  }

  #hero span {
    display: block;
  }

  #story .row {
    border-bottom: unset;
    padding: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-md-6"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

header {
  text-align: unset;
  padding: 20px 0px 99px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

body {
  font-size: 18px;
  /* the font size for headers will update automatically bc of em values */
}

#hero span {
  display: block;
}

#story .row {
  border-bottom: unset;
  padding: 0;
}

.col-lg-7 {
  width: 60%;
}

[class*="col-md-7"] {
  float: left;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
